@charset "UTF-8";


*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

html, body{    
    background-color: lightgray;
}

header{
    background-color: grey;
}

header > h1{
    padding: 10px;
    text-align: center;
}

/*Configurando o menu*/
i#burger{
    background-color: rgb(54, 54, 54);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;/*Quando passar o mouse o cursor vai mudar*/
}

i#burger:hover{
    background-color: white;
    color: black;
}

menu{
    display: none;
}

/*----------------------------------*/
menu > ul{
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(100, 100, 100);
    color: white;
    border-top: 2px solid rgb(87, 87, 87);
}

menu > ul > li > a:hover{
    background-color: rgb(161, 161, 161);
    
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

article > h2{
    padding-bottom: 20px ;
}

article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 10px;
}
