@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{ /*Configuração global*/
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body{
    background-color: darkgrey;
    min-height: 100vh;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps; /*Todas as letras estão maiúsculas, mas as primeiras letras estão maiores que as outras*/
    font-family: var(--fonte2);
    font-size: 10vh; /*O tamanho muda de acordo com o tamanho da tela*/

}

header > p{
    padding-bottom: 50px;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{ 
    /*Para dar espaço em cada section*/
     padding-top: 10vh;
     padding-bottom: 10vh;
     line-height: 2em; /*Dar espaço em cada linha para facilitar a leitura*/
     padding-left: 30px;
     font-family: var(--fonte3);
     font-size: 3.5vh; /*O tamanho muda de acordo com o tamanho da tela*/
}
section > p{
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}


section.imagem{
    background-color: rgb(61, 61, 61);
    color: white;

    /*Para criar o efeito Parallax*/
    background-size: cover; /*Para posicionar imagem*/
    background-attachment: fixed;
     
}

section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.404);
    text-shadow: 1px 1px 0px black;
}

section#img01{
    background-image: url('imagens/background001.jpg');
    background-position: right center;/*Para alinhar a imagem*/
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.226); /*Sombra interna*/
}

section#img02{
    background-image: url('imagens/background002.jpg');
    background-position: right center; /*Para alinhar a imagem*/
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.226); /*Sombra interna*/
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}